body{
    background-color: rgb(2, 2, 14);
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;

}
    .container {
        display: flex;
        flex-direction: row;
        width: 1200px;
        gap: 20px;
        
      }
  
  

.col-xl-4{
    width: 33.33%;
    display:flex;
}

.col-xl-6{
    width: 50%;
}